@import "tailwindcss";
@plugin "daisyui" {
	themes: valentine --default;
}


@plugin "daisyui/theme" {
	name: "blesseddoctor";
	default: false;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: oklch(28% 0.066 53.813);
	--color-base-200: oklch(42% 0.095 57.708);
	--color-base-300: oklch(47% 0.114 61.907);
	--color-base-content: oklch(97% 0.071 103.193);
	--color-primary: oklch(78% 0.154 211.53);
	--color-primary-content: oklch(30% 0.056 229.695);
	--color-secondary: oklch(84% 0.238 128.85);
	--color-secondary-content: oklch(27% 0.072 132.109);
	--color-accent: oklch(70% 0.01 56.259);
	--color-accent-content: oklch(14% 0.004 49.25);
	--color-neutral: oklch(55% 0.135 66.442);
	--color-neutral-content: oklch(98% 0.026 102.212);
	--color-info: oklch(62% 0.214 259.815);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(69% 0.17 162.48);
	--color-success-content: oklch(97% 0.021 166.113);
	--color-warning: oklch(76% 0.188 70.08);
	--color-warning-content: oklch(98% 0.022 95.277);
	--color-error: oklch(63% 0.237 25.331);
	--color-error-content: oklch(97% 0.013 17.38);
	--radius-selector: 0.25rem;
	--radius-field: 2rem;
	--radius-box: 0.25rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 1;
}


/* for icons that should scale with font size */
.font-icon {
	width: 1em;
	height: 1em;
}
