@import "tailwindcss";
@plugin "daisyui" {
	themes: ["valentine"];
}
@plugin "daisyui/theme" {
	name: "valentine";
	default: true;
	--color-secondary: var(--color-pink-300);
	--color-secondary-content: var(--color-pink-900);
}


/* for icons that should scale with font size */
.font-icon {
	width: 1em;
	height: 1em;
}
